<div>
    <jh-alert></jh-alert>
    <div class="row">
        <div class="col-sm-7">
            <h2 translate="21pointsApp.point.home.title">Points</h2>
        </div>
        <div class="col-sm-5 text-right">
            <form name="searchForm" class="form-inline">
                <div class="form-group p-r">
                    <input type="text" id="searchQuery"
                           class="form-control" ng-model="searchQuery"
                           placeholder="{{'entity.action.search' | translate}}">
                </div>
                <button class="btn btn-info btn-sm" ng-click="search()"
                        uibTooltip="{{'entity.action.search' | translate}}">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                <button class="btn btn-primary btn-sm" ui-sref="point.new"
                        uibTooltip="{{'entity.action.new' | translate}}">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="date"><span translate="21pointsApp.point.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="exercise"><span translate="21pointsApp.point.exercise">Exercise</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="meals"><span translate="21pointsApp.point.meals">Meals</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alcohol"><span translate="21pointsApp.point.alcohol">Alcohol</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span translate="21pointsApp.point.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="21pointsApp.point.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="point in points track by point.id">
                    <td>{{point.date | date:'mediumDate'}}</td>
                    <td class="text-center">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-ok text-success': point.exercise,
'glyphicon-remove text-danger': !point.exercise}"></i>
                    </td>
                    <td class="text-center">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-ok text-success': point.meals,
'glyphicon-remove text-danger': !point.meals}"></i>
                    </td>
                    <td class="text-center">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-ok text-success': point.alcohol,
'glyphicon-remove text-danger': !point.alcohol}"></i>
                    </td>
                    <td>{{point.notes}}</td>
                    <td>
                        {{point.user.login}}
                    </td>
                    <td>
                        <div class="btn-group m-n">
                            <button type="submit" uibTooltip="{{'entity.action.view' | translate}}"
                                    ui-sref="point.detail({id:point.id})" class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit" uibTooltip="{{'entity.action.edit' | translate}}"
                                    ui-sref="point.edit({id:point.id})" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit" uibTooltip="{{'entity.action.delete' | translate}}"
                                    ui-sref="point.delete({id:point.id})" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
