<div>
    <h2 translate="21pointsApp.points.home.title">Pointss</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="points.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="21pointsApp.points.home.createLabel">Create a new Points</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Points</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="21pointsApp.points.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="exercise"><span translate="21pointsApp.points.exercise">Exercise</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="meals"><span translate="21pointsApp.points.meals">Meals</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alcohol"><span translate="21pointsApp.points.alcohol">Alcohol</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span translate="21pointsApp.points.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="21pointsApp.points.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="points in pointss track by points.id">
                    <td><a ui-sref="points.detail({id:points.id})">{{points.id}}</a></td>
                        <td>{{points.date | date:'mediumDate'}}</td>
                    <td>{{points.exercise}}</td>
                    <td>{{points.meals}}</td>
                    <td>{{points.alcohol}}</td>
                    <td>{{points.notes}}</td>
                    <td>
                        {{points.user.login}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="points.detail({id:points.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="points.edit({id:points.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="points.delete({id:points.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
